.individual-product-wrapper {
    margin: 5em auto 10em;
    width: 80%;
    display: flex;

    @media(max-width: 600px){
        flex-direction: column;
        align-items: center;
    }
    
    .block-one{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        height: 200px;

        @media(max-width: 600px){
            width: 80%;
            height: 300px;
        }

        .dashboard-product-name {
            font-size: 1.7rem;
            font-weight: bold;
            margin-bottom: .7em;
            color: $darkgray;
            text-transform: uppercase;

            @media(max-width: 600px){
                width: 80%;
                text-align: center;
            }
            
        }

        .dashboard-thumbnail{
            height: 75%;
        }
    }

    .block-two {
        font-size: 1.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        height: 200px;

        @media(max-width: 600px){
            width: 90%;
            font-size: 1rem;
            height: 300px;
        }
    }

    .block-three {
        display: flex;
        flex-direction: column;
        height: 200px;
        width: 20%;
        align-items: center;
        justify-content: space-around;
        background-color: pink;

        @media(max-width: 600px){
            flex-direction: row;
            height: 70px;
            width: 80%;
        }
        .action-btn {
            font-size: 3em;
            color: $darkgray;

            @media(max-width: 600px){
                font-size: 2rem;
            }

            &:hover{
                color: $darkRed;
            }
        }
    }

}