.checkout-review-container {
    width: 45%;
    min-height: 500px;
    padding: 5em;
    background-color: #ddbea9;
    margin: 6em auto;

    .cart-header {
        text-align: center;
        font-size: 3.5rem;
        letter-spacing: 6px;
        border-bottom: .7px solid #fff;
        font-weight: bold;
        letter-spacing: 4px;
        margin-bottom: 0;
        color: #fff;
        position: relative;
    }

    .order-summary-container {
        width: 85%;
        min-height: 400px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .summary-product-name {
            margin: 0 auto;
            width: 85%;
            text-align: center;
            font-size: 2.5rem;
            letter-spacing: 3px;
            padding-top: 2.5em;
            padding-bottom: .7em;
            text-transform: uppercase;
            color: #fff;
        }

        .product-summary-wrapper {
            margin: 0 auto;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .product-thumbnail {
                
                height: 20vh;
            }

            .prduct-price {
                font-size: 2.6rem;
            }

            .trash {
                color: $white;
                font-size: 3.4rem;

                &:hover{
                    color: $darkRed;
                }

            }
        }



        .price-container{
            display: flex;
            width: 100%;
            margin-top: 5em;
            line-height: 1.8;
            flex-direction: column;
            align-items: flex-end;

            .price-breakdown-wrapper {
                margin-bottom: 1.5em;
                width: 60%;
                display: flex;
                color: $white;
                font-size: 1.6rem;

                .price-text {
                    width: 60%;

                    .total-price {
                        font-size: 2rem;
                        padding: 3px;
                        font-weight: bold;
                        letter-spacing: 3px;
                    }
                }

                .price-numbers{
                    width: 40%;
                    text-align: right;

                    .total-price {
                        font-size: 2rem;
                        padding: 3px;
                        font-weight: bold;
                    }

                }
            }

        
            .place-order-btn {
            align-self: flex-end;
            justify-self: flex-end;
            margin-top: .5em;
            letter-spacing: 2px;
            background-color: transparent;
            border: 1px solid $darkgray;
            font-size: 1.4rem;
            padding: .7em 1.4em;
            border-radius: 25px;
        
                &:hover,:active {
                    border: 1px solid #003d23;
                    background-color: #003d23;
                    color: #fff;
                    outline: none;
                }
            }

        }


        .empty-cart-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 400px;


            .oops {
                font-family: 'Homemade Apple', cursive;
                font-size: 7em;
            }

            .empty-cart {
                align-self: flex-end;
                color: #fff;
                margin-top: -25px;
                font-size: 2.4em;
                letter-spacing: 5px;
            }
        }
    }

}