
.homepage-container{
    * {
        box-sizing: border-box;
    }
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero-picture{
        width: 100%;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6rem;
        opacity: .95;
    }

    .hero-container{
        width: 100%;
        margin-top: 5em;
        background-color: pink;
        display: flex;
        flex-direction: column;

        .hero-message{
            margin: 0 auto;
            background-color: lightblue;
            width: 80%;
            height: 400px;
            display: flex;
            justify-content: space-between;
            align-content: center;

            .hero-container-quote {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                width: 60%;
            }

            .homepage-container-message{
                background-color: lightgrey;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                .about-us-home-btn {
                    margin-top: 3em;
                }
            }
        }

        .shop-category-container{
            background-color: yellow;
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            .shop-flowers {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 400px;
                width: 50%;
                cursor: pointer;
            }

            .shop-plants {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 400px;
                width: 50%;
                cursor: pointer;
            }
        }
    }

    .shop-all-btn {
        
        border: 1px solid black;
        margin-top: 5em;
        text-decoration: none;
        cursor: pointer;
        padding: 3em 7em;
        cursor: pointer;    
    }

    .address {
        margin-top: 5em;
    }

    .map-social-media-container {
        width: 60vw;
        margin-top: 3em;
        display: flex;
        justify-content: space-around;
        
        .map {

            .google-map {
                width: 400px;
                height: 400px;
                border: none;
            }
        }

        .social-media-info {
            width: 400px;
            background-color: lightgreen;
            padding: 3em;
        }
    }

}