.product-container {
    width: 80%;
    margin: 7rem 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8em;

    @media(max-width: 600px){
        grid-template-columns: 1fr;
    }

    a {
        color: $darkgray;
        text-decoration: none;
    }

    .product-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            box-shadow: $darkBoxShadow;

        .card-img{
            width: 80%; 
        }

        &:hover {
            cursor: pointer;
        }

        .product-name {
            font-size: 1.7rem;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            padding: 3rem 2rem;
        }

        .product-price {
            font-size: 2rem;
            padding: 3rem;
        }
    }
}